/* Formatting */

html, body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.section {
    height: 100vh;
    padding-top: 75px;
    text-align: center;
}

.section.post {
    text-align: left;
    width: 800px;
    margin: auto;
}

.inner {
    width: 50%;
    margin: auto;
    padding-top: 20%;
}

.spacing {
    height: 5%;
    clear: both;
    text-align: center;
}

.splash {
    color: #D33683;
}

#face {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

/* Colors */
html, body {
    background: #073542;
    color: #EFE8D5;
}
