*, .post-title, .post > h2, .page-title {
    font-family: "Andale Mono", monospace;
}

.tags {
    margin-top: 1em;
}

.tags > span {
    font-weight: bold;
    text-decoration: underline;
}

.tag-list {
    display: inline;
    list-style: none;
    padding: 5px;
}

.tag-list li {
    color: lightgrey;
    margin: 0 0.33em;
    display: inline;
}

.post {
    margin-bottom: 2em;
}

.read-more {
    color: #818181;
}

.read-more a {
    color: #818181;
}

.read-more::before {
    content: "...";
}

.post > p a::before {
    content: "[";
}

.post > p a::after {
    content: "]";
}

.poem {
    text-align: center;
    background: inherit;
}

.poem > p {
    margin-bottom: 0;
}

.poem > .post-title {
    margin: 10px;
}