 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a Baltimore-based software developer with experience
                    building web and mobile products. I work hard to improve my
                    skills and gain new ones as often as I can.</p>
                </div>
                <div class="col-lg-4">
                    <p>I'm about to graduate from college, and am currently
                    looking for full-time employment when I do. I'm available to
                    relocate, and I'd like to work remotely if possible. If
                    you're hiring, contact me. Details are below!</p>
                </div>
            </div>
        </div>
    </section>
